
@import "compass/reset";
@import "compass/css3";
@import "_base";
body, html {
	position: fixed;
    text-align: center;
	top: 0;
	left: 0	;
	width:	100%;
	height:	100%;
	margin: 0;
	padding: 0;
    font-smoothing: antialiased;
    -webkit-font-smoothing:subpixel-antialiased;
   font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; font-weight: 100; letter-spacing: 1px;
    line-height: normal;
    font-weight: 300;
    font-size: 13px;
    background-color:#fff;

    *,
    *:before,
    *:after {
    	@include box-sizing(border-box);
    	padding: 0;
    	margin: 0;
    }
    * {
    	-webkit-tap-highlight-color: rgba(0,0,0,0);
    	-moz-tap-highlight-color: rgba(0,0,0,0);
    }
    ::-webkit-scrollbar {
    	display: none;
    }

    form, input, textarea, div, span,ul,li, i, p, a, :link, :visited {
    	text-align: center;
    	text-decoration: none;
    	margin: 0;
    	padding: 0;
    	outline: none;
    	overflow: hidden;
    	vertical-align: middle;
    }
}

$img:256px;
$dark:#242424;
$light:#eeeeef;
$hash: #57575D;
$t: 60px;
$el: 128px;


//●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●
//●                                 ●
//●                                 ●
//●                                 ●
//●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●●


.screen {
   position: fixed;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;

   .topBar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      background-color: white;
      border-bottom: 1px solid black;
      .cko,.flow,.logo {
         position: relative;
         line-height: $topBar;
         float: left;
         color: black;
      }

      .cko {
         margin-left: $t;
         font-size: 28px;
         font-weight: bold;
         margin-left: $t/2
      }
      .flow {
         font-size: 14px;
         font-style: italic;
      }
      .logo {
         font-size: 56px;
         margin-left: $t/2
      }
   }

   .actionBar {
      position: absolute;
      top: $topBar;
      left: 0;
      width: 100%;
      height: $actionBar;
      background-color: black;
      border-bottom: 1px solid black;
   }
   .content {
        position: absolute;
        top: $topBar + $actionBar;
        height: calc(100% - #{$topBar + $actionBar});
        width: 100%;

         #imagesElements {
            position: relative;
            width: calc(100%-320px);
            height: auto;
             .element {
                background-color: black;
                color: white;
             }
        }

         #categoriesElements {
            position: relative;
            width: calc(100%-320px);
            height: auto;
            .element {
                color: black;
            }
         }

        #workersElements {
            color: white;
            width: calc(100%-320px);
            .element {
                background-color:#FF4B5F;
                color: white;
            }
       }
    }
}

.element {
    position: relative;
    float: left;
    margin-left: 1px;
    margin-top: 1px;
    width: 2*$t;
    height: 2*$t;
    border: solid 1px black;

    &.title {
       position: relative;
       float: left;
       width: 4*$t;;
       line-height: 2*$t;
       color: white;
       font-size: 24px;
       padding-left: $t/4;
       font-weight: bold;
       text-align: left;
    }

    &:hover {
       @include anim-fast;
       cursor: pointer;

       .name {
          font-weight: bold;
       }
    }
    .symbol, .name,.number {
       position: absolute;
       left:0;
       width: 100%;
    }
    .symbol {
       top: 0;
       line-height:2*$t;
       font-size: 28px;
       font-weight: bold;
    }
    .number {
       bottom: 0;
       line-height:$t/4;
       font-size: 9px;
       .no1, .no2 {
          display: inline-block;
          line-height:$t/4;
       }
    }
    .name {
       top: 1.2*$t;
       line-height:14px;
       font-size: 12px;

    }
}
